/* Media Queries */
/* Extra small to small devices (portrait phones, upto 767px) */
@media (min-width: 320px) {
    .slider-title {
        font-size: 25px;
    }
    .slider-typed {
        font-size: 12px;
    }

    /* Sidebar's CSS */
    .sidebar {
        display: none;
    }

    .sidebar-circle {
        display: flex !important;
    }
    /* End of Sidebar's CSS */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .slider-title {
        font-size: 30px;
    }
    .slider-typed {
        font-size: 15px;
    }

    /* Sidebar's CSS */

    /* End of Sidebar's CSS */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .slider-title {
        font-size: 35px;
    }
    .slider-typed {
        font-size: 20px;
    }

    /* Sidebar's CSS */
    .sidebar {
        display: block;
    }
    .sidebar-circle {
        display: none !important;
    }
    /* End of Sidebar's CSS */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .slider-title {
        font-size: 40px;
    }
    .slider-typed {
        font-size: 25px;
    }

    /* Sidebar's CSS */
    /* End of Sidebar's CSS */
}
/* End of Media Queries */
