/* Media Queries */
/* Extra small to small devices (portrait phones, upto 767px) */
@media (min-width: 320px) {

    /* Container */
    .container {
        padding: 0 1.5rem;
        max-width: 500px;
    }
    /* End of Container */

    /* Slider */
    .slider-title {
        font-size: 25px;
    }
    .slider-typed {
        font-size: 12px;
    }
    /* End of Slider */

    /* Sidebar's CSS */
    .sidebar {
        /* right: -250px; */
        width: 0px;
        /* display: none; */
    }

    .sidebar-circle {
        display: flex !important;
    }
    /* End of Sidebar's CSS */

    /* Postlisting */
    .posts a h2{
        font-size: 12px;
    }
    .text-muted {
        font-size: 10px;
    }
    /* End of Postlisting */

    /* Contact Page */
    .img img{
        max-width: 200px;
        max-height: 200px;
    }
    #contact-lottie{
        width: 100px;
        height: 100px;
    }
    
    #contact-header {
        margin-top: -145px;
        font-size: 0.9em;
        margin-left: 10px;
    }
    /* End of Contact Page */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* Slider */
    .slider-title {
        font-size: 30px;
    }
    .slider-typed {
        font-size: 15px;
    }
    /* End of Slider */

    /* Sidebar's CSS */

    /* End of Sidebar's CSS */

    /* Postlisting */
    .posts a h2{
        font-size: 14px;
    }
    /* End of Postlisting */

    /* Contact Page */
    .img img{
        max-width: 400px;
        max-height: 400px;
    }
    #contact-lottie{
        width: 200px;
        height: 200px;
    }
    #contact-header {
        margin-top: -30px;
        font-size: 1.17em;
        margin-left: 0px;
    }
    /* End of Contact Page */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Container */
    .container {
        padding: 0 2rem;
        max-width: 650px;
    }
    /* End of Container */

    /* Slider */
    .slider-title {
        font-size: 35px;
    }
    .slider-typed {
        font-size: 20px;
    }
    /* End of Slider */

    /* Sidebar's CSS */
    .sidebar {
        /* right: 0px; */
        width: 250px !important;
        /* display: block; */
    }

    .sidebar-circle {
        display: none !important;
    }
    /* End of Sidebar's CSS */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Container */
    .container {
        max-width: 800px;
    }
    /* End of Container */

    /* Slider */
    .slider-title {
        font-size: 40px;
    }
    .slider-typed {
        font-size: 25px;
    }
    /* End of Slider */

    /* Sidebar's CSS */
    /* End of Sidebar's CSS */

    /* Postlisting */
    .posts a h2{
        font-size: 19px;
    }
    .text-muted {
        font-size: 12px;
    }
    /* End of Postlisting */
}
/* End of Media Queries */
