.img{
	display: flex;
	justify-content: flex-start;
}

.img img{
	max-width: 400px;
	max-height: 400px;
	margin-top: -155px;
	margin-left: 20px;

}

#contact-header {
	margin-top: -30px;
}

#contact-lottie{
	width: 200px;
	height: 200px;
}