@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  background-image: url('../../static/assets/images/background.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
}

a {
  color: #1abc9c;
}

.container {
  margin: 150px auto;
  max-width: 800px;
  flex-direction: column;
  min-height: 70vh;
}

.dark {
  background-color: #1f2029;
  color: #fff;
  transition: all 0.2s ease-out;
}

.all-posts a:hover {
  color: #fff !important;
  background: #2c3e50 !important;
}

.icon-rotating{
  animation: rotating 6s linear infinite;
}

@keyframes rotating {
  0% { 
    transform: rotate(0); 
  }
  100% { 
    transform: rotate(360deg);
  }
 }

/* Custom scrollbar styles for light theme */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border: 3px solid #f0f0f0; /* Creates padding around the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Scrollbar color on hover */
}