.category-list p {
    margin: 15px 15px -15px;
    font-weight: bold;
    color: #828d90;
    transition: padding .5s;
}

.category-list p:hover {
    cursor: pointer;
    background-color: #dee2e6;
    color: #2c3e50;
    border-radius: 5px;
    padding: 0px 5px;
}

.sidebar {
    z-index: 2;
    position: absolute;
    top: 75px;
    bottom: 0px;
    transition: -webkit-transform 0.3s ease-out 0s;
    will-change: transform;
    overflow-y: auto;
    width: 250px;
    right: 0px;
    transform: translateX(0%);
    box-shadow: rgba(0, 0, 0, 0.15) -2px 2px 4px;
}

.sidebar-circle {
    display: none;
    z-index: 5;
    height: 48px;
    width: 48px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 188, 156);
    position: absolute;
    right: 20px;
    border-radius: 50%;
    top: 50%;
}