.navbar {
    position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
    background-color: #fff;
}

.navbar-brand img{
	height: 52px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.nav-scroll {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 5px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

/* Navbar links styles */
.nav-links {
	position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin: 0;
    color: #212121 !important;
	font-weight: bold;
    transition: all 200ms linear;
}

.nav-links a {
	display: inline-block;
	align-items: center;
    font-size: 1.15rem;
    font-weight: 500;
    padding: .6rem;
    margin: 0;
    color: rgba(0, 0, 0, 0.45);
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.nav-links a:hover {
    color: #8167a9;
}

.nav-links a:after {
    content: '';
	display: block;
    width: 0;
    height: 2px;
    background: #8167a9;
	transition: all .3s linear;
}

.nav-links a:hover:after {
    width: 100%;
}

/*
.nav-links a:active{
    color: #777 !important;
}

.nav-links a:active:hover:after{
	opacity: 0;
} */

/* End of Navbar links styles */

.nav-container {
    padding: 0 1.5rem;
    height: 55px;
    max-width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
}

.bg-light {
	background-color: #fff !important;
    transition: all 0.1s ease-out;
}

/* Dark Mode */
.bg-dark {
    background: #1f2029;
    color: #fff;
    transition: all 0.1s ease-out;
}

.bg-dark .nav-links a {
    color: #fff;
}

/* Dark Mode Ends*/